:root{
    --primary-font-color:#fff;
    --secondary-font-color:#000;
}
*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    color: var(--secondary-font-color);
    min-height: 100vh;
}

/* Header */
header{
    padding: 0.5rem 1rem;
}

/* Navbar */
/* Making the navbar be in a row */
.navbar{
display: flex;
justify-content: space-between;
}

.navbar-options{
    display: flex;
}

.navbar-options li{
    padding-left: 2rem;
    list-style: none;
}

/* Main */

main{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quest-landing{
    width: 60%;
    text-align: center;
    padding-bottom: ;
}

.quest-landing h2{
    font-size: 2.4rem;
}
.quest-landing h3{
    padding: 1rem 0;
    font-size: 1.2rem;
}

.quest-button{
    padding: 0.5rem 2.5rem;
    border-radius: 10px;

}
/* Footer */
footer{
padding: 1rem 0;
text-align: center;
}

.footer-container{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}