:root {
  --primary-font-color: #fff;
  --secondary-font-color: #000;
  --blue: #0c3559;
  --darkblue: #092640;
  --seablue: #687b8c;
  --lightseablue: #aab9bf;
  --light: #f2f2f2;
}
* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--secondary-font-color);
  min-height: 100vh;
  color: var(--primary-font-color);
}

/* Header */
header {
  padding: 0.5rem 1rem;
  background-color: var(--blue);
}

/* Navbar */
/* Making the navbar be in a row */
.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar-options {
  display: flex;
}

.navbar-options li {
  padding-left: 2rem;
  list-style: none;
}

/* Main */

main {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quest-landing {
  width: 60%;
  text-align: center;
}

.quest-landing h2 {
  font-size: 2.4rem;
}
.quest-landing h3 {
  padding: 1rem 0;
  font-size: 1.2rem;
}

.quest-button {
  padding: 0.5rem 2.5rem;
  border-radius: 10px;
}
/* Footer */
footer {
  padding: 1rem 0;
  text-align: center;
  background-color: var(--blue);

}

.footer-container {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}

.footer-container > a{
    color: var(--primary-font-color);
    text-decoration: none;
}